<?xml version="1.0" encoding="UTF-8"?>
<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd 
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task-3.1.xsd"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xmlns:task="http://www.springframework.org/schema/task" >

	<context:component-scan base-package="com.aowin.controller"/>
	
	<!-- 驱动加载 -->
	<task:annotation-driven/>
	<!-- 注解开启 -->
	<context:annotation-config/>
	
	<mvc:annotation-driven />
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"></property>
		<property name="username" value="scott"></property>
		<property name="password" value="h123456"></property>	
	</bean>
	<!-- SqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="mapperLocations" value="classpath:com/aowin/dao/mapping/*.xml"></property>
	</bean>
	
	<!-- dao层的配置 -->
	<bean id="mapper" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="basePackage" value="com.aowin.dao"></property>
	</bean>
	<!-- service 层配置 -->
	<bean id="stationService" class="com.aowin.service.impl.StationService">
		<property name="stationDao" ref="stationDao"></property>
		<property name="pileDao" ref="pileDao"></property>
	</bean>
	<bean id="staPService" class="com.aowin.service.impl.StaPService">
		<property name="staPileDao" ref="staPileDao"></property>
	</bean>
	
	<!-- 添加事务处理 -->
	<bean id="tranMgr" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>	
	</bean>
	
	<!-- 切面(通知+切点) -->
	<bean id="tranInter" class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="tranMgr"></property>
		<property name="transactionAttributes">
			<props>
				<prop key="addStation">PROPAGATION_REQUIRED</prop>
				<prop key="updateStation">PROPAGATION_REQUIRED</prop>
				<prop key="deleteStation">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<!-- 自动代理 -->
	<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<array>
				<value>*Service</value>
			</array>
		</property>
		<property name="interceptorNames" value="tranInter"></property>
	</bean>
	
</beans>